.address {
  font-style: normal;
  margin-left: auto;
}
.header .logo-header {
  color: #2e2f42;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin: 0;
}
.logo-header .logo-web {
  color: #4d5ae5;
  text-decoration: none;
}
.nav .list,
.address .list {
  list-style: none;
}
.nav .link {
  color: #2e2f42;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.nav .link:hover,
.nav .link:focus {
  color: #404bbf;
  text-decoration: none;
}
.address .link {
  color: #434455;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.address .link:hover,
.address .link:focus {
  color: #404bbf;
  text-decoration: none;
  font-style: normal;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .list {
  display: flex;
  gap: 40px;
}
.nav {
  margin-left: 76px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
